@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


.container{
  margin-top: 100px;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  background: #fff;
  border-radius: 3px;
  width: 68px;
  height: 68px;
  margin: 10px;
  padding: 10px;
  color:black;
  font-family: 'Kalam', cursive;
  position: relative;
  float: left;
}
.no-pointer-events {
  pointer-events: none;
}
.hovered {
  background-color: gray;
}


